.portfolio-content {
    gap: 20px;
    display: flex;
}

.portfolio {
    width: 100%;
}

.portfolio-section {
    width: 100%;
    padding: 200px 10% 0 10%;
}

.row {
    color: white;
    display: flex;
    height: fit-content;
    max-height: 565px;
    overflow: hidden;
    gap: 20px;
    position: relative;
    border-radius: 58px;
    cursor: pointer;
    box-shadow: 0 0 9px 3px rgba(0, 238, 255, 0.7);
}

.row img{
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.75), #001157);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 30px;
    transition: height 0.5s;
    gap: 10px;
}

.layer h5 {
    color: #00eeff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.layer p {
    color: white;
    font-size: 16px;
    line-height: 1.4;
}

.layer a:hover {
    background: #001b88;
}

.layer a {
    color: #ff004f;
    margin-top: 5px;
    font-size: 14px;
    background: #00eeff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.row:hover img {
    transform: scale(1.1);
}

.row:hover .layer {
    height: 100%;
}

.technologies {
    color: #00eeff!important;
}

.technologies span {
    color: white;
}

.layer-links-box-wrap {
    display: flex;
    margin-top: 5px;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.layer-links-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.layer-links-box p {
    color: #00eeff;
}

.layer-text-box p{
    color: #00eeff;
}
.layer-text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
}

@media (max-width: 1400px){
    .layer h5 {
        font-size: 1.5vw;
    }
    .layer p {
        font-size: 1vw;
    }
    .layer-links-box p, .layer-text-box p {
        font-size: 0.9vw;
    }
}
@media (max-width: 1200px){
    .layer {
        gap: 5px;
        padding: 0 20px;
    }
    .layer h5 {
        font-size: 16px;
    }
    .layer p {
        font-size: 14px;
        line-height: 1.3;
    }
    .layer-links-box p, .layer-text-box p {
        font-size: 12px;
    }
    .layer-links-box-wrap {
        margin: 0;
    }
    .layer a {
        width: 35px;
        height: 35px;
    }
}
@media (max-width: 1024px){
    .portfolio-content {
        flex-wrap: wrap;
        justify-content: center;
    }
    .row {
        max-width: 45%;
    }
    .layer {
        gap: 15px;
    }
    .layer h5 {
        font-size: 2vw;
    }
    .layer p {
        font-size: 1.5vw;
        line-height: 1.3;
    }
    .layer-links-box p, .layer-text-box p {
        font-size: 1.4vw;
    }
}

@media (max-width: 768px){
    .layer h5{
        font-size: 2.5vw;
    }
    .layer p{
        font-size: 2.2vw;
        line-height: 1.5;
    }
    .layer-links-box-wrap {
        gap: 1.5rem;
    }
    .layer a {
        width: 40px;
        height: 40px;
    }
    .portfolio-section {
        padding-top: 100px;
    }
    .portfolio-content {
        margin-top: 40px;
    }
    .row {
        max-width: 70%;
    }
}

@media (max-width: 480px){
    .layer h5 {
        font-size: 3.2vw;
        margin-bottom: 0;
    }
    .layer p {
        font-size: 2.6vw;
        line-height: 1.2;
    }
    .layer {
        padding: 0 10px;
    }
    .layer a {
        width: 25px;
        height: 25px;
    }
}
