.main-text h2{
    margin: 70px 0;
    font-size: 60px;
    line-height: 1;
    text-align: center;
}

.main-text h2 span{
    color: #00eeff;
}

.portfolio-content {
    gap: 20px;
    display: flex;
}

.portfolio {
    width: 100%;
}

.portfolio-section {
    width: 100%;
    padding: 50px 10%;
}

.row {
    color: white;
    display: flex;
    height: fit-content;
    max-height: 565px;
    overflow: hidden;
    gap: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 58px;
    cursor: pointer;
    box-shadow: 0px 0px 9px 3px rgba(0, 238, 255, 0.7);
}

.row img{
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.75), #001157);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}

.layer h5 {
    color: #00eeff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.layer p {
    color: white;
    font-size: 1rem;
    line-height: 1.8;
}

.layer a:hover {
    background: #001b88;
}

.layer a {
    color: #ff004f;
    margin-top: 20px;
    font-size: 20px;
    background: #00eeff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.row:hover img {
    transform: scale(1.1);
}

.row:hover .layer {
    height: 100%;
}

.technologies {
    color: #00eeff!important;
}

.technologies span {
    color: white;
}

.layer-links-box-wrap {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 20px;
}

.layer-links-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.layer-links-box p {
    color: #00eeff;
}

.layer-text-box p{
    color: #00eeff;
}
.layer-text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
}

@media (min-width: 769px) and (max-width: 1024px){
    .portfolio-content {
        flex-wrap: wrap;
        justify-content: center;
    }
    .row {
        max-width: 65%;
    }
}
