section{
    display: flex;
    flex-wrap: wrap;
}

.container1 {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    margin-top: 7%;
}

.radial-bars {
    cursor: pointer;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    height: 268px;
    margin-bottom: 10px;
    align-items: center;
}

.radial-bars .radial-bar {
    width: 50%;
    height: fit-content;
    position: relative;
}
.radial-bar-svg {
    max-width: 75%;
    min-width: 75%;
}

.radial-bars .radial-bar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
}

.radial-bars .radial-bar .progress-bar {
    stroke-width: 10;
    stop-color: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar {
    100% {
        stroke-dashoffset: -1;
    }
}

.path {
    stroke-width: 10;
    stroke: #fd40eb;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.path-1{animation: animate-path1 1s 1s linear forwards}
.path-2{animation: animate-path2 1s 1s linear forwards}
.path-3{animation: animate-path3 1s 1s linear forwards}
.path-4{animation: animate-path4 1s 1s linear forwards}

@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 260;
    }
}
@keyframes animate-path2 {
    100% {
        stroke-dashoffset: 300;
    }
}
@keyframes animate-path3 {
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes animate-path4 {
    100% {
        stroke-dashoffset: 0;
    }
}

.skills-component{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}


.Technical-bars-wrap {
    width: 100%;
}


@media (max-width: 1400px){
    .radial-bars{
        height: 234px;
    }
}

@media (max-width: 1200px){
    .radial-bars{
        height: 208px;
    }
    .container1 {
        padding: 0;
    }
    .svgText {
        font-size: 27px;
    }
}

@media (max-width: 1024px){
    .radial-bars{
        height: 182px;
}
    .svgText {
        font-size: 24px;
    }
}

@media (max-width: 768px){
    .radial-bars {
        margin-bottom: 0;
        max-width: 50%;
        height: fit-content;
    }
    .path {
        stroke-width: 5;
    }
    .container1 {
        margin-top: 80px;
        max-width: 100%;
    }
    .profSkillsWrap {
        margin-top: 50px;
        flex-wrap: wrap;
    }

}

@media (max-width: 480px){
    .info {
        width: 75%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .radial-bars {
        margin-bottom: 0;
        height: fit-content;
    }
    .container1 {
        margin-top: 5rem;
    }
}


@keyframes slide-in-left {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


