.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 70px 10% 0 10%;
}

.home-content {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jobsArrHome {
    min-height: 75px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 3s;
}

.home-content h1 {
    font-weight: 700;
    font-size: 56px;
    margin: 10px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3:nth-of-type(2) {
    animation: slideRight 1s ease forwards;
    animation-delay: .3s;
}

.home-description{
    width: 50%;
}

.home-description h3 span{
    color: #00eeff;
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media (max-width: 1024px){
    .home {
        margin-top: 5rem;
        height: auto;
    }
    .home-content h1 {
        font-size: 40px;
    }
    .home-content h3 {
        font-size: 25px;
    }
    .home-content p {
        font-size: 16px;
    }
}

@media (max-width: 768px){
    .home-content h3 {
        font-size: 20px;
    }
    .home-content h1 {
        font-size: 30px;
    }
    .home-content p {
        font-size: 14px;
    }
}

@media (max-width: 480px){
    .home-content {
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
    }
    .home-description {
        width: 100%;
    }
    .jobsArrHome{
        min-height: 55px;
    }
    .home {
        padding: 20px 10%;
    }
    .home-content h3 {
        font-size: 16px;
    }
    .home-content h1 {
        font-size: 25px;
    }
    .home-content p {
        font-size: 12px;
    }
}
