.about{
    padding: 50px 10%;
    padding-top: 0;
    justify-items: center;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.about-img{
    padding-bottom: 20%;
    max-width: 430px;
    border-radius: 8px;
}

.about-text h2{
    font-size: 60px;
}

.about-text h2 span{
    color: #00eeff;
}

.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: white;
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p{
    font-size: 20px;
    color: #00eeff;
    line-height: 1.4;
}

.about-text ul{
    margin-top: 1rem;
    color: aliceblue;
}

.about-text li:last-child {
    margin-bottom: 1.5rem;
}
