.lang-section {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    padding: 0 10% 75px 10%;
}

.lang-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
}
