.home-sci {
    display: flex;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #fd40eb;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    opacity: 0;
    animation: slideLeft 1s cubic-bezier(0.18, 0.09, 0.32, 1.28) forwards;
    animation-delay: 1.5s;
    transition: .5s ease;
}

.home-sci a:hover {
    background-color: #fd40eb;
    box-shadow: 0 0 20px #fd40eb;
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

