.home-sci {
    display: flex;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00eeff;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 4s;
    transition: .3s ease;
}

.home-sci a:hover {
    background-color: #00eeff;
    box-shadow: 0 0 20px #00eeff;
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

