.contact-list {
    display: flex;
    gap: 2rem;
}

.contact-list li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.contact-list a {
    display: inline-block;
    color: #fd40eb;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}

.contact-list a:hover{
    transform: scale(1.01) translateY(-5px);
    color: #fd40eb;
}

.contact-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #fd40eb;
    border-radius: 50%;
    font-size: 20px;
    color: #fd40eb;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
}

.contact-icons a:hover {
    background-color: #fd40eb;
    color: black;
    box-shadow:  0 0 20px #fd40eb;
}

@media (max-width: 768px){
    .contact-list {
        flex-wrap: wrap;
    }
}

@media (max-width: 480px){
    .contact-list {
        font-size: 14px;
    }
}
