.latest-text p{
    width: 100%;
    text-align: center;
    font-weight: 300;
}

.latest-text {
    margin: 50px 10%;
}

.logo {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

@media (max-width: 1024px){
    .logo {
        font-size: 16px;
    }
}

@media (max-width: 480px){
    .latest-text p{
        font-size: 14px;
    }
    .latest-text {
        margin: 10%;
    }
}
