.latest-text p{
    width: 100%;
    text-align: center;
    font-weight: 300;
}

.latest-text {
    width: 100%;
    position: static;
    bottom: 10px;
    padding: 50px 0 20px 0;
}

.logo {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

@media (max-width: 1024px){
    .logo {
        font-size: 16px;
    }
}

@media (max-width: 480px){
    .latest-text p{
        font-size: 12px;
    }
    .latest-text {
        padding: 20px 10% 10px 10%;
    }
}
