.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-color: #091b2a;
    display: flex;
    align-items: center;
    padding: 70px 10%;
}

.home-content {
    color: white;
    /*max-width: 600px;*/
    /*animation: slideBottom 1s ease forwards;*/
    /*animation-delay: .7s;*/
    display: flex;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 7s;
}

.home-content h1 {
    font-weight: 700;
    font-size: 56px;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00eeff;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 7s;
    transition: .5s ease;
}

.home-sci a:hover {
    background-color: #00eeff;
    box-shadow: 0 0 20px #00eeff;
    /*color: #091b2a;*/
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #00eeff;
    border-radius: 40px;
    font-size: 16px;
    color: #091b2a;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity:  0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #00eeff, 0 0 25px #00eeff;
}

.btn-box:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}

.home-description{
    width: 70%;
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
