.btn-box {
    width: max-content;
    display: inline-block;
    padding: 12px 28px;
    background: #00eeff;
    border-radius: 40px;
    font-size: 16px;
    color: #091b2a;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity:  0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #00eeff, 0 0 25px #00eeff;
}

.btn-box:hover {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}

@media (max-width: 1024px){
    .btn-box {
        font-size: 14px;
    }
}
