section{
    display: flex;
    flex-wrap: wrap;
}

.container1 {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}

.bar {
    font-size: 23px;
    width: 40%;
}

.Technical-bars {
    gap: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50vw;
}

.Technical-bars .bar:first-child {
    margin-top: 0;
}

.Technical-bars .bar:last-child {
    margin-bottom: 0;
}

.Technical-bars .bar .info{
    margin-bottom: 5px ;
}

.Technical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.Technical-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000000;
    animation: animate 1s cubic-bezier(1,0,0,2) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.Technical-bars .bar .progress-line span {
    height: 100%;
    background-color: #00eeff;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0,2) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.progress-line.html span {
    width: 99%;
}

.progress-line.css span {
    width: 99%;
}
.progress-line.gitHub span {
    width: 85%;
}
.progress-line.js span {
    width: 85%
}
.progress-line.react span {
    width: 88%
}
.progress-line.rRouter span {
    width: 99%
}
.progress-line.redux span {
    width: 89%
}
.progress-line.query span {
    width: 89%
}
.progress-line.tests span {
    width: 69%
}
.progress-line.formik span {
    width: 95%
}
.progress-line.yup span {
    width: 99%
}
.progress-line.i18n span {
    width: 95%
}
.progress-line.styled span {
    width: 89%
}
.progress-line.git span {
    width: 80%
}
.progress-line.linux span {
    width: 86%
}
.progress-line.windows span {
    width: 90%
}


 .progress-line span::after {
     position: absolute;
     padding: 1px 8px;
     background-color: black;
     color: white;
     font-size: 12px;
     border-radius: 3px;
     top: -28px;
     right: -20px;
     animation: showText 0.5s 1.5s linear forwards;
     opacity: 0;
 }

 .progress-line.html span::after {
     content: '99%';
 }

.progress-line.css span::after {
    content: '99%';
}
.progress-line.gitHub span::after {
    content: '85%';
}

.progress-line.js span::after {
    content: '85%';
}

.progress-line.react span::after {
    content: '88%';
}

.progress-line.rRouter span::after {
    content: '99%';
}

.progress-line.redux span::after {
    content: '89%';
}

.progress-line.query span::after {
    content: '89%';
}

.progress-line.tests span::after {
    content: '69%';
}

.progress-line.formik span::after {
    content: '95%';
}

.progress-line.yup span::after {
    content: '99%';
}

.progress-line.i18n span::after {
    content: '95%';
}

.progress-line.styled span::after {
    content: '89%';
}

.progress-line.git span::after {
    content: '80%';
}

.progress-line.linux span::after {
    content: '86%';
}

.progress-line.windows span::after {
    content: '90%';
}


.progress-line.html span::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0;
    border-top-color: black;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

@keyframes showText {
    100%{
        opacity: 1;
    }
}

.text {
    width: 250px;
}

.text1 {
    text-shadow: 0 0 15px #00eeff;
    color: white;
    font-size: 18px;
    width: 250px;
}

.radial-bars {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}

.radial-bars .radial-bar {
    width: 50%;
    height: 170px;
    position: relative;
}

.radial-bars .radial-bar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
}

.radial-bars .radial-bar .progress-bar {
    stroke-width: 10;
    stop-color: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar {
    100% {
        stroke-dashoffset: -1;
    }
}

.path {
    stroke-width: 10;
    stroke: #00eeff;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.path-1{animation: animate-path1 1s 1s linear forwards}
.path-2{animation: animate-path2 1s 1s linear forwards}
.path-3{animation: animate-path3 1s 1s linear forwards}
.path-4{animation: animate-path4 1s 1s linear forwards}
.path-5{animation: animate-path5 1s 1s linear forwards}
.path-6{animation: animate-path6 1s 1s linear forwards}
.path-7{animation: animate-path7 1s 1s linear forwards}
.path-8{animation: animate-path8 1s 1s linear forwards}

@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 25;
    }
}
@keyframes animate-path2 {
    100% {
        stroke-dashoffset: 50;
    }
}
@keyframes animate-path3 {
    100% {
        stroke-dashoffset: 25;
    }
}
@keyframes animate-path4 {
    100% {
        stroke-dashoffset: 75;
    }
}
@keyframes animate-path5 {
    100% {
        stroke-dashoffset: 150;
    }
}
@keyframes animate-path6 {
    100% {
        stroke-dashoffset: -250;
    }
}
@keyframes animate-path7 {
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes animate-path8 {
    100% {
        stroke-dashoffset: 0;
    }
}

.radial-bar .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5 1s linear forwards;
    opacity: 0;
}

.radial-bar .text {
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translate(-50px);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.heading1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}

.skills-component{
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}

.skill-section {
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 50px 10%;
}










