.portfolio-content {
    gap: 40px;
    display: flex;
}

.portfolio {
    width: 100%;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(28, 28, 28, 0.76), #1c1c1c);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 0 30px;
    transition: height 0.5s;
    gap: 10px;
}

.layer h5 {
    font-family: 'LobsterRegular', sans-serif;
    color: #fd40eb;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5px;
}

.layer p {
    color: white;
    font-size: 18px;
    line-height: 1.4;
}

.layer a:hover {
    background: #001b88;
}

.layer a {
    color: #ff004f;
    margin-top: 5px;
    font-size: 18px;
    background: #fd40eb;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.technologies {
    color: #fd40eb!important;
}

.technologies span {
    color: white;
}

.layer-links-box-wrap {
    display: flex;
    margin-top: 5px;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.layer-links-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.layer-links-box p {
    color: #fd40eb;
}

.layer-text-box p{
    color: #fd40eb;
}
.layer-text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
}

@media (max-width: 1400px){
    .layer h5 {
        font-size: 2vw;
    }
    .layer p {
        font-size: 1.1vw;
    }
    .layer-links-box p, .layer-text-box p {
        font-size: 1vw;
    }
}
@media (max-width: 1200px){
    .layer {
        gap: 5px;
        padding: 0 20px;
    }
    .layer h5 {
        font-size: 20px;
    }
    .layer p {
        font-size: 1.2vw;
        line-height: 1.3;
    }
    .layer-links-box p, .layer-text-box p {
        font-size: 14px;
    }
    .layer-links-box-wrap {
        margin: 0;
    }
    .layer a {
        width: 35px;
        height: 35px;
    }
}
@media (max-width: 1024px){
    .portfolio-content {
        flex-wrap: wrap;
        justify-content: center;
    }
    .layer {
        gap: 15px;
    }
    .layer h5 {
        font-size: 2.5vw;
    }
    .layer p {
        font-size: 1.7vw;
        line-height: 1.3;
    }
    .layer-links-box p, .layer-text-box p {
        font-size: 1.5vw;
    }
}

@media (max-width: 768px){
    .layer h5{
        font-size: 24px;
    }
    .layer p{
        font-size: 18px;
        line-height: 1.5;
    }
    .layer-links-box-wrap {
        gap: 1.5rem;
    }
    .layer a {
        width: 40px;
        height: 40px;
    }
    .portfolio-content {
        margin-top: 40px;
    }
    .layer-links-box p, .layer-text-box p {
        font-size: 18px;
    }
}

@media (max-width: 480px){
    .layer h5 {
        font-size: 20px;
        margin-bottom: 0;
    }
    .layer p {
        font-size: 14px;
        line-height: 1.3;
    }
    .layer {
        gap: 0;
        padding: 0 10px;
    }
    .layer a {
        width: 25px;
        height: 25px;
    }
    .row {
        max-width: 100%;
    }
    .layer-links-box p, .layer-text-box p {
        font-size: 14px;
    }
}
