.education {
    width: 100%;
    padding: 0 10% ;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    height: fit-content;
}

.services-list {
    justify-content: space-between;
    display: flex;
    grid-gap: 40px;
    flex-wrap: wrap;
}

.services-list div {
   background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13;
    border-radius: 20px;
    transition: background-color 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #da05ce, 1px 1px 40px #00eeff;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    transform: translateY(-10px);
}

.service-el p{
    font-size: 16px;
}

.service-el {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service-el h4{
    margin-bottom: 1rem;
    color: #00eeff;
}

@media (max-width: 1200px){
    .services-list div h2 {
        font-size: 24px;
    }
}

@media (max-width: 1024px){
    .service-el {
        width: 100%;
    }
    .services-list div {
        max-width: 680px;
        justify-content: center;
    }
    .services-list {
        justify-content: center;
    }
    .services-list div h2 {
        font-size: 22px;
    }
    .education {
        padding-top: 100px;
    }
}
@media (max-width: 768px){
    .services-list div h2 {
        font-size: 18px;
    }
    .services-list {
        margin-top: 30px;
    }
    .education {
        padding-top: 100px;
    }
    .service-el p{
        font-size: 14px;
    }
}

@media (max-width: 480px){
    .services-list div h2 {
        font-size: 16px;
    }
    .service-el h4 {
      font-size: 12px;
    }
}
