.langBtn {
    display: inline-flex;
    font-size: 25px;
    text-decoration: none;
    align-items: center;
    font-weight: 500;
    margin-left: 15px;
    transition: .10s;
    opacity: 0;
    animation: slideTop 1s cubic-bezier(0.18, 0.09, 0.32, 1.28) forwards;
    cursor: pointer;
}

@media (max-width: 768px){
    .langBtn {
        align-items: flex-start;
        width: 100%;
        margin: 0;
    }
}