.contact {
    align-items: center;
    gap: 3rem;
    width: 100%;
    padding: 200px 10% 0 10%;
    display: flex;
    margin-bottom: 40px;
}
.contact-text {
    width: 100%;
}

.contact-text h4{
    margin: 15px 0;
    color: rgb(228,228,228);
    font-size: 20px;
    font-weight: 600;
}

.contact-text p{
    color: rgb(177, 177, 177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}

.contact-list {
    display: flex;
    gap: 2rem;
}

.contact-list li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.contact-list a {
    display: inline-block;
    color: #00eeff;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}

.contact-list a:hover{
    transform: scale(1.01) translateY(-5px);
    color: #00eeff;
}

.contact-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00eeff;
    border-radius: 50%;
    font-size: 20px;
    color: #00eeff;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
}

.contact-icons a:hover {
    background-color: #00eeff;
    color: black;
    box-shadow:  0 0 20px #00eeff;
}

@media (max-width: 768px){
    .contact-text p {
        font-size: 16px;
    }
    .contact-list {
        flex-wrap: wrap;
    }
    .contact {
        padding-top: 125px;
    }
}

@media (max-width: 480px){
    .contact-text h4 {
        font-size: 16px;
    }
    .contact-text p {
        font-size: 14px;
        line-height: 20px;
    }
    .contact-list {
        font-size: 14px;
    }
    .contact {
        padding-top: 100px;
        padding-bottom: 20px;
    }
}
