.lang-section {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.lang-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 56%;
    max-width: 56%;
    align-items: center;
    flex-direction: column;
}

