.theme-btn {
    display: flex;
    transition: .10s;
    opacity: 0;
    animation: slideTop 1s cubic-bezier(0.18, 0.09, 0.32, 1.28) forwards;
    cursor: pointer;
}

@media (max-width: 768px) {
    .theme-btn {
        width: 100%;
    }
}