section{
    display: flex;
    flex-wrap: wrap;
}

.container1 {
    display: flex;
    justify-content: center;
    max-width: 45%;
    min-width: 45%;
    flex-direction: column;
    padding: 0 10%;
    margin-top: 5rem;
}

.round-skills {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.profSkillsWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
    font-size: 18px;
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 23px;
    width: fit-content;
}

.bar span {
    margin-left: 10px;
}

.Technical-bars {
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    background: #000f4857;
    box-shadow:   1px 1px 20px #da05ce, 1px 1px 40px #00eeff;
    border-radius: 2rem;
    padding: 3rem;
    width: 100%;
    justify-content: flex-start;
}

.text1 {
    text-shadow: 0 0 15px #00eeff;
    color: white;
    font-size: 18px;
    width: max-content;
    margin-left: 1rem;
}

.radial-bars {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
    align-items: center;
}

.radial-bars .radial-bar {
    width: 50%;
    height: 170px;
    position: relative;
}
.radial-bar-svg {
    max-width: 50%;
    min-width: 50%;
}

.radial-bars .radial-bar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
}

.radial-bars .radial-bar .progress-bar {
    stroke-width: 10;
    stop-color: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar {
    100% {
        stroke-dashoffset: -1;
    }
}

.path {
    stroke-width: 10;
    stroke: #00eeff;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.path-1{animation: animate-path1 1s 1s linear forwards}
.path-2{animation: animate-path2 1s 1s linear forwards}
.path-3{animation: animate-path3 1s 1s linear forwards}
.path-4{animation: animate-path4 1s 1s linear forwards}
.path-5{animation: animate-path5 1s 1s linear forwards}
.path-6{animation: animate-path6 1s 1s linear forwards}
.path-7{animation: animate-path7 1s 1s linear forwards}
.path-8{animation: animate-path8 1s 1s linear forwards}

@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 375;
        /*stroke-dashoffset: 145;*/
    }
}
@keyframes animate-path2 {
    100% {
        stroke-dashoffset: 450;
        /*stroke-dashoffset: 80;*/
    }
}
@keyframes animate-path3 {
    100% {
        stroke-dashoffset: 475;
        /*stroke-dashoffset: 55;*/
    }
}
@keyframes animate-path4 {
    100% {
        stroke-dashoffset: 350;
        /*stroke-dashoffset: 175;*/
    }
}
@keyframes animate-path5 {
    100% {
        stroke-dashoffset: 360;
        /*stroke-dashoffset: 200;*/
    }
}
@keyframes animate-path6 {
    100% {
        stroke-dashoffset: 280;
        /*stroke-dashoffset: 250;*/
    }
}
@keyframes animate-path7 {
    100% {
        stroke-dashoffset: 0;
        /*stroke-dashoffset: 0;*/
    }
}
@keyframes animate-path8 {
    100% {
        stroke-dashoffset: 0;
        /*stroke-dashoffset: 0;*/
    }
}

.radial-bar .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5 1s linear forwards;
    opacity: 0;
}

.radial-bar .text {
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translate(-50px);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.svgText {
    font-size: 30px;
}

.heading1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
    margin-bottom: 50px;
}

.skills-component{
    width: 100%;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}

.skill-section {
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 200px 10% 0 10%;
}

.Technical-bars-wrap {
    width: 100%;
}


@media (max-width: 1200px){
    .container1 {
        padding: 0;
    }
    .svgText {
        font-size: 27px;
    }
    .bar {
        font-size: 20px;
    }
}

@media (max-width: 1024px){
    .heading1 {
        text-decoration: none;
    }
    .svgText {
        font-size: 24px;
    }
}

@media (max-width: 768px){
    .radial-bars {
        margin: 0;
    }
    .path {
        stroke-width: 5;
    }
    .bar {
        font-size: 16px;
    }
    .round-skills {
        flex-wrap: wrap;
    }
    .container1 {
        width: fit-content;
        max-width: 100%;
    }

}

@media (max-width: 480px){
    .heading1 {
        margin-bottom: 10px;
    }
    .info {
        width: 75%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .Technical-bars {
        padding: 30px;
        max-width: 100%;
    }

    .bar {
        font-size: 14px;
    }

    .Technical-bars .info span {
        font-size: 14px;
    }
    .radial-bars {
        margin-bottom: 0;
        height: fit-content;
    }
    .skill-section {
        padding-top: 100px;
    }
    .round-skills {
        gap: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }
    .container1 {
        margin-top: 2rem;
    }
    .text1 {
        font-size: 16px;
    }
}





