.top {
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}


@media (max-width: 480px) {
    .top {
        right: 0;
    }
}
