.home-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jobsArrHome {
    min-height: 75px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideRight 2s cubic-bezier(0.18, 0.09, 0.32, 1.28) forwards;
    animation-delay: 1s;
}

.home-content h1 {
    font-weight: 700;
    font-size: 56px;
    margin: 10px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3:nth-of-type(2) {
    animation: slideRight 1s ease forwards;
    animation-delay: .3s;
}


@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media (max-width: 1024px){
    .home-content h1 {
        font-size: 40px;
    }
    .home-content h3 {
        font-size: 25px;
    }
    .home-content p {
        font-size: 16px;
    }
}

@media (max-width: 768px){
    .home-content h3 {
        font-size: 20px;
    }
    .home-content h1 {
        font-size: 30px;
    }
    .home-content p {
        font-size: 14px;
    }
}

@media (max-width: 480px){
    .home-content {
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
    }
    .home-description {
        width: 100%;
    }
    .jobsArrHome{
        min-height: 55px;
    }
    .home-content h3 {
        font-size: 16px;
    }
    .home-content h1 {
        font-size: 25px;
    }
    .home-content p {
        font-size: 12px;
    }
}
