.avatar-wrap{
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.avatar {
    width: 100%;
    object-fit: cover;
}

@media (max-width: 1024px){
    .avatar-wrap {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 480px){
    .avatar-wrap {
        width: 150px;
        height: 150px;
    }
}
