.navbar a {
    display: inline-block;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
}

.navbar a:hover {
    color: #0ef;
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media (max-width: 1024px){
    .navbar a {
        font-size: 14px;
    }
    .navbar {
        overflow-x: auto;
        white-space: nowrap;
        padding-bottom: 10px;
        padding-right: 20px;
    }
}

@media (max-width: 768px) {
    .navbar {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .navbar a {
        margin-left: 0;
        padding: 5px 0;
        width: 100%;
    }
    .navbar a:hover {
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.5);
        color: white;
        border-radius: 50px;
        font-weight: 600;
    }

}
