.navbar {
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    max-width: 70%;
}

.navbar a {
    display: inline-block;
    font-size: 22px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 15px;
    transition: .10s;
    opacity: 0;
    animation: slideTop 1s cubic-bezier(0.18, 0.09, 0.32, 1.28) forwards;
}

.navbar a:hover {
    color: #fd40eb;
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media (max-width: 1024px){
    .navbar a {
        font-size: 18px;
    }
    .navbar {
        overflow-x: auto;
        white-space: nowrap;
    }
}

@media (max-width: 768px) {
    .navbar {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .navbar a {
        margin-left: 0;
        padding: 5px 0;
        width: 100%;
        font-size: 20px;
    }
    .navbar a:hover {
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.5);
        color: white;
        border-radius: 50px;
        font-weight: 600;
    }

}
